@charset "utf-8";

/* ============================================================================================== */
/* Body section                                                                                   */
/* ============================================================================================== */

#news,
#business,
#about,
#careers {
	transition: all 2s ease;
	opacity: 1;
}

.onload #news,
.onload #business,
.onload #about,
.onload #careers {
	opacity: 1;
}

.main-contents {
	overflow: hidden;
	padding-top: 0;
}

.layout-2col-inner {
	max-width: 1100px;
}

.section__ttl {
	margin-bottom: 30px;
}
.uppercase {
    text-transform: uppercase;
}
/* .section__ttl .ja__txt {
	font-size: 1.3rem;
	display: block;
	padding-top: 5px;

}
 */
.section__txt-wrap {
	position: relative;
	padding: 0;
	margin: -21px auto 0;
	z-index: 1;
}

/* txt-wrap 枠 */

.section__txt-wrap:before,
.section__txt-wrap:after {
	content: "";
	position: absolute;
	top: 0;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border-top: 1px solid rgba(51,51,51,1);
	display: none;
}

.section__txt-wrap:before {
	left: 0;
	border-left: 1px solid rgba(51,51,51,1);
}

.section__txt-wrap:after {
	right: 0;
	border-right: 1px solid rgba(51,51,51,1);
}

/* ----- */

.section__txt-inner {
	text-align: center;
}

.section__txt {
	margin-bottom: 10px;
	text-align: justify;
}

.section__img-wrap {
	width: 100%;
}

.section__img-wrap figure {
	overflow: hidden;
}

/* Button */

.business-wrap .section__btn .btn {
	color: #FFF;
	/*padding: 4px 10px 6px;*/
	min-height: 25px;
	min-width: 60px;
	padding: 3px 5px 5px;
	font-size: 0.9em;
}

/* ============================================================================================== */
/* News                                                                                           */
/* ============================================================================================== */

.news-wrap {
	position: relative;
	background-color: rgba(20,60,120,0.05);
	padding: 50px 150px;
	margin: 0 auto;
}
@media (max-width:768px) {
	.news-wrap {
		padding: 50px 80px 0;
	}
}
.news-inner {
	position: relative;
	max-width: 1000px;
}

/* .news-contents{
	height: 28vh;
} */
@media (max-width:320px) {
	/* .news-contents{
		height: 34vh;
	}*/
} 
.news-wrap .section__ttl-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.news-wrap .section__ttl {
	margin: 0 20px 0 0;
}

.article__link {
	text-decoration: none;
}

.news-date p {
	margin: 8px 0 20px;
}

.news-date .divider {
	margin-bottom: 20px;
	border-color: rgba(20,60,120,0.1);
}
.divider {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 30px 0;
}
.divider--0 {
    margin: 0;
}
.news__ttl {
	font-size: 1rem;
	margin-bottom: 15px;
	font-weight: 600;
	color: rgba(51,51,51,1);
}

.news__txt {
	color: rgba(51,51,51,0.6);
	transition: .2s ease;
	margin: 0;
	overflow: hidden;
	/* text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; */
	box-sizing:border-box;
	position: relative
}
.m-btn-underline .txt {
    font-size: 0.9em;
    font-weight: 400;
    display: inline-block
}
.m-btn-underline:after,
.btn-inner:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 0
}
.m-btn-underline {
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}
.m-btn-underline:hover {
    transform: translate3d(5px, 0, 0);
    will-change: transform
}
.m-btn-underline:after {
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
} 
.m-btn-underline:after {
    background-color: #666;
    z-index: 1;
    transform: scale(0,1); 
    height: 2px;
}


.m-btn-underline .btn-inner {
    display: block;
    border-bottom-style: solid;
    border-bottom-color: #111;
    position: relative;
    text-align: left;
}
.btn-inner {
    padding: 10px 0 8px;
    border-bottom-width: 2px; 
}
.btn-inner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0) scale(0, 1) skew(45deg);
    transform-origin: 0 0;
    transition: transform .8s cubic-bezier(.215, .61, .355, 1)
}
.m-arrow-black,
.m-arrow-black-reverse,
.m-arrow-white {
    display: inline-block
}


.m-arrow-black .bar,
.m-arrow-black-reverse .bar,
.m-arrow-white .bar {
    display: block;
    position: relative
}
.m-arrow-black .bar span,
.m-arrow-black-reverse .bar span,
.m-arrow-white .bar span {
    display: block;
    height: 1px;
    position: absolute
}

.m-arrow-black .bar span:nth-child(1),
.m-arrow-black-reverse .bar span:nth-child(1),
.m-arrow-white .bar span:nth-child(1) {
    width: calc(100% - 1px);
    right: 1px
}

.m-arrow-black .bar span:nth-child(2),
.m-arrow-black .bar span:nth-child(3),
.m-arrow-black-reverse .bar span:nth-child(2),
.m-arrow-black-reverse .bar span:nth-child(3),
.m-arrow-white .bar span:nth-child(2),
.m-arrow-white .bar span:nth-child(3) {
    right: 0
}
.m-arrow-black .bar span:nth-child(2),
.m-arrow-black-reverse .bar span:nth-child(2),
.m-arrow-white .bar span:nth-child(2) {
    transform: rotate(45deg)
}
.m-arrow-black .bar span,
.m-arrow-black-reverse .bar span {
    background-color: #111
}

.m-arrow-black-reverse .bar {
    transform: rotate(180deg)
}


.article__link:hover {
	text-decoration: none;
}

.article__link:hover .news__txt {
	color: rgba(51,51,51,1);
}

/* ============================================================================================== */
/* Slick                                                                                          */
/* ============================================================================================== */

/* Slick arrows */

.slider__btn-wrap {
	white-space: nowrap;
	line-height: 0;
}

.slick-arrow {
	background-color: #FFF;
	border-radius: 50%;
	background-image: none!important;
	width: 35px!important;
	height: 35px!important;
	position: relative!important;
	display: inline-block;
	margin: auto!important;
	background-size: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
	z-index: 9;
	font-size: 0;
	border: 0;
	line-height: 0;
	padding: 0;
}

.slick-arrow:hover {
	box-shadow: none;
	border: none;
}

.slick-prev:before,
.slick-next:before {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	width: 10px!important;
	height: 10px!important;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

.slick-prev:before {
	border-right: 9px solid #143c78;
	right: auto;
	left: 12px;
}

.slick-next:before {
	border-left: 9px solid #143c78;
	right: 12px;
	left: auto;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.3;
}

/* ============================================================================================== */
/* News                                                                               */
/* ============================================================================================== */


/* News Slick */

.news-wrap .ttl-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.news-wrap .slick-container,
.news-wrap .slider-wrapper {
	max-width: 780px;
	width: 100%; 
	border: solid 2px #84e7f2
}

.news-wrap .slick-list {
	margin-right: -25px;
}

.news-wrap .slick-track {
	margin-left: 0;
}

.news-wrap .slick-slide {
	width: calc(100% / 2 );
    padding: 0 30px;
}

.news-wrap .slick-arrow {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.news-wrap .slick-prev {
	margin: auto 8px 0 0;
}

/* ============================================================================================== */


/* ============================================================================================== */
/* Media query                                                                                    */
/* ============================================================================================== */

/* ----------------------------------------------------------------------- */
/* SmartPhone */

@media screen and (max-width: 480px) {
	.section__kv #image-reel {
		height: 50vh;
	    width: 100%;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;

	}
	.kv__txt-inner {
		margin-top: -73px;
	}

	.kv-inner__txt {
		font-size: 2.0rem;
	}

	.child-section__lede {
		font-size: 1.5rem;
	}
	.news-wrap {
		position: relative;
		padding: 30px;
		margin: 0 auto;
	}

	.news-wrap .slick-slide {
	    width: 90%;
	    padding: 0px;
	    margin: 10px auto;
	}
}
/* ----------------------------------------------------------------------- */

 @media screen and (max-width: 768px) {
	.section__kv #image-reel {
		height: 50vh;
	    width: 100%;
	    position: relative;
	    z-index: 1;
	    overflow: hidden;
	}

}

/* ----------------------------------------------------------------------- */
/* over ipad landscape */

@media screen and (min-width: 1024px) {

	/* key visual */

	#kv {
		padding-top: 0;
		width: 100%;
		height: 90vh;
		/* max-width: 1400px; */
	}

	.kv__txt-wrap {
		margin: auto auto 40px;
	}

	.kv__txt-inner {
		margin-top: -156px;
	}

	.kv-inner__ttl {
		margin-bottom: 10px;
	}

	.kv-inner__txt {
		font-size: 3rem;
		margin-bottom: 15px;
	}

	.kv__txt-wrap p {
		font-size: 1.6rem;
	}

	.day img {
		object-position: unset;
	}

	/* main contents */

	.main-contents {
		padding-top: 140px;
	}

	/* Lede message */

	.lede-message:first-child {
		font-size: 4.5rem;
	}

	.lede-message:last-child {
		font-size: 15rem;
	}

	/* Body section */

	.section__txt-wrap {
		padding: 45px 0 0;
	}

	.section__ttl .ja__txt {
		font-size: 1.5rem;
	}

	.section__txt {
		margin-bottom: 35px;
	}

	/* News */
/* 
	.news-wrap {
		padding: 80px 0 100px;
		margin: 125px auto 160px;
	}
 */
	.news-inner {
		display: flex;
		/*align-items: flex-start;*/
		justify-content: space-between;
	}

	.news-inner:before {
		transform: scale(1);
		top: -681px;
		right: 0;
	}

	.news-wrap .section__ttl-wrap {
		width: auto;
		justify-content: flex-start;
		position: relative;
		margin-right: 30px;
		z-index: 7;
	}

	.news-wrap .ttl-block {
		justify-content: flex-start;
		width: auto;
	}

	.news__ttl {
		/* font-size: 1.6rem; */
	}

	/* .article-individual {
		margin-right: 50px;
	} */

	/* News Slick */

	.news-wrap .slick-container,
	.news-wrap .slider-wrapper {
		max-width: 700px;
	}

	.news-wrap .slick-list {
		margin-right: -60px;
	}

	/* Business */

	.business-wrap {
		margin-top: 0;
	}

	.business-wrap .slide__link {
		pointer-events: auto;
	}

	.business-wrap .slide__ttl {
		font-size: 4.9rem;
	}

	/* style reset */
	.business-wrap .section__btn .btn {
		min-height: 35px;
		min-width: 80px;
		padding: 8px 10px 10px;
		font-size: 1em;
	}
	/* ----- */

	.business-wrap .slide__link:hover .section__btn .btn {
		color: #FFF;
		/*background-color: #FFF;*/
	}

	.business-wrap .slide__link:hover .section__btn .btn:before {
		border: 1px solid #FFF;
		opacity: 1;
	}

	/* Slick Business */

	.business-wrap .slick-prev {
		left: -50px;
	}

	.business-wrap .slick-next {
		right: -50px;
	}

	/* About, Careers */

	.txt--right .section__img-wrap {
		margin-right: 45px;
	}

	.txt--left .section__img-wrap {
		margin-left: 45px;
	}

	.section__img-wrap {
		width: 100%;
	}

	.txt--left .layout-2col-inner {
		flex-direction: row;
	}

	.txt--right .layout-2col-inner {
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	.section__txt-wrap {
		padding: 40px 0 0;
		margin: 0 auto;
		text-align: center;
		width: 50%;
		max-width: 285px;
	}

	/* txt-wrap 枠 */

	.section__txt-wrap:before,
	.section__txt-wrap:after {
		display: block;
	}

	/* ----- */

	#about .section__txt,
	#careers .section__txt {
		text-align: justify;
	}

}

/* ----------------------------------------------------------------------- */
.swiper-slide{
	/* width: calc(100% / 2 )!important;
    margin-right: calc(50px*3 / 2); */
}
.news{
	width: calc(100% / 2 )!important;
    margin-right: calc(50px*3 / 2);
}
@media screen and (max-width: 767px) {
.news-wrap {
    position: relative;
    background-color: rgba(20,60,120,0.05);
    padding: 30px;
    margin: 0 auto;
}
.swiper-slide{
	width:100%!important;
	}
}
 @media screen and (max-width: 480px) {
	.news{
	    margin-right: calc(0px*3 / 2);
	}
 }