html, body, header, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, bottom, input, 
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    text-decoration: none;
}
*,
*::after,
*::before {
    box-sizing: border-box
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}
html{
    -webkit-text-size-adjust: none;
}
html, body {
    position: relative;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,'微軟正黑體';
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
var, em, dfn{
    font-style: normal;
}
a{    
    font-family: "Helvetica Neue", Helvetica, "Heiti TC", 微軟正黑體, "Microsoft Sans Serif", Helvetica, Geneva, sans-serif;
    color: #666;
    text-decoration: none;
    
    }
a:hover, a:focus{
    color: #252525;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
button {
    width: auto;
    border: 0;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 1em;
}
/* input{
    border: solid 1px #b9b9b9; 
    padding: 5px 6px;
    
} */
/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-spacing: 0;
    border-collapse: collapse
}
td, th {
    padding: 0
}
.loading{
    display:none;
}